/* mobile styles */
 #wrap { width:310px; margin-left:auto; margin-right:auto; overflow:hidden; }

#hassel-footer{ border-top:1px solid #000000;}

 #hassel-poster{display: none; position: relative;z-index:0;width: 100%;height: auto;float:left;}
 #hassel-poster img{width: 100%; height: auto; }

 #delimitter{display: none;}
 #delimitter.mobile{display:block;}

 #description {margin-top: 0px;}
 #description #text {width: 310px; overflow: visible;}

 #misc{width:150px;}

 /* Hassel Page */
#hassel-page {min-height:1024px;width: auto;height: auto; margin-right: 0px;margin-left: 0px;margin-top: 20px; margin-bottom: 40px;}

.hassel-copy{margin:0px;}

.type-page{width:auto;margin-right:0px;margin-left:0px}

#hassel-post-grid-area {width:auto; margin-left: auto;margin-right: auto; margin-bottom: 0px;}
#hassel-post-grid-area .post{ width:300px;height:auto; margin-left: 0px;margin-right: 0px; border:0px; border-top:1px solid #000000;}
#hassel-post-grid-area .post .hassel-copy{width:100%; margin-left: 0px;margin-right: 0px;}

#hassel-post-area {float:left;position: relative;}
#hassel-post-area, #hassel-post-area.page-start {width:auto; margin-left: auto;margin-right: auto; margin-top: 0px;  margin-bottom: 0px;float:left; position: relative;display: inline-block;border-left: none;}
#hassel-post-area .post, #hassel-post-area.page-start .post{width:300px; height:auto; margin-left: 0px;margin-right: 0px; border:0px; border-top:1px solid #000000;}
#hassel-post-grid .post .hassel-copy{width:100%; margin-left: 0px;margin-right: 0px;}

.hassel-card-image {width: auto; margin-right: 0px;}
.hassel-card-image img{width:100%; height: auto;}
.hassel-card-text{width:100%;}

/* post and page styles */ 
#hassel-post-area .post .hassel-copy  { width:auto; margin-left:auto; margin-right:auto; padding-top:20px; padding-bottom:20px; overflow:hidden; }


 #nav { width:310px; background:none; height:0px; overflow:hidden; }
 #nav ul {	display: inline; list-style: none;  margin:0px; padding:0px; height:auto; line-height:42px;  }
 #nav ul li { float: left;  display: inline;  font-size: 12px; margin:0px; padding:0px; background: none;}
 #nav ul li a { display:block; height:42px; padding:0; margin:0px;  width:320px; border-bottom:1px solid #ccc; }
 #nav ul li a:hover { }
  
 .single-post .type-post { width:auto;}
 .single-post .type-post .hassel-copy { width:auto;}
 .single-post .type-post img { width:290px; height:inherit;}
 
 .type-page { width:auto; border:0px; border-top:1px solid #000000;}
 .type-page .hassel-copy { width:auto; margin-left: 0px;margin-right: 0px; }
 
 #comment-form { width:285px; }


  #nav#full {display:none}
  nav#mobile {display:block;}
  /*Top black bar that holds the toggle button*/
  /*Toggle button #1 ("Menu")*/
  /*Toggle button #2 ("Navicon")*/
  nav#mobile .navicon {margin-top: 40px; margin-right:35px ;float: right;height: 60px;width: 60px;background:url(../images/icon_menu.png) top left;background-repeat: no-repeat;}
  /*The dropdown menu*/
  nav#mobile ul li {clear:both;list-style:none;}
  nav#mobile ul li a {display:block;background-color:#FFF;text-transform:uppercase;letter-spacing:.2em;margin:2px 0;padding:6px 0 6px 8px;}
  nav#mobile ul ul {font-size:small;}
  nav#mobile ul ul li {margin-left:30px;}
  nav#mobile ul ul a {background-color:#333;padding-left:8px;}
  nav#mobile ul ul a:before {content: "\2192";padding-right:8px;}
